.input{
    width: 100%;
    height: 56px;
    border:0.5px solid "grey";
    border-radius: 5px;
    padding: 10px;
}
.button{
    width: 80px;
    height: 25px;
    background: #343a40;
    color:white;
    margin-bottom: 10px;
}