.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-bottom-color {
  background-color: #001529 !important;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px 0px 10px 0px !important;
}
/*
.site-layout-content {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
*/
.demo-infinite-container {
  z-index: 2;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  height: 90vh;
}
.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 90%;
  text-align: center;
}
.ranking-col {
  position: fixed;
  right: 0px;
  width: 20%;
  height: 90vh;
}
.ranking-meme {
  padding-right: 10%;
}
/*
.col-memes {
  display: flex;
}
*/
